<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <!--
        <img class="logo" src="./assets/logo-color.svg" />
        -->
        <span class="title">Netcool.Admin</span>
      </div>
      <div class="desc">用心做好每一个细节</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2020 Netcool
    </global-footer>
  </div>
</div>
<theme-btn></theme-btn>
