<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <!--
    <button (click)="add()" nz-button nzType="primary">新建</button>
    -->
  </ng-template>
</page-header>
<div nz-row>
  <div nz-col [nzSpan]="6">
    <nz-card class="card-organization" nzTitle="组织">
      <div nz-row class="mb-2">
        <button nz-button nzType="primary" class="tree-button" (click)="loadTree()" [nzLoading]="isLoading">
          <i nz-icon nzType="reload"></i>
        </button>
        <button nz-button nzType="primary" class="tree-button" (click)="onAdd()">
          <i nz-icon nzType="plus"></i>
        </button>
        <button nz-button nzType="primary" class="tree-button" (click)="onEdit()">
          <i nz-icon nzType="edit"></i>
        </button>
        <button nz-button nzDanger nzType="primary" class="tree-button"
                nz-popconfirm
                nzPopconfirmTitle="删除该组织的同时将删除其下所有子组织，确定删除吗？"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="delete()"
                [nzLoading]="isDeleting">
          <i nz-icon nzType="delete"></i>
        </button>
      </div>
      <nz-tree #tree nzShowLine
               [nzData]="nodes"
               (nzClick)="activeNode($event)"
               (nzDblClick)="expendNode($event)"
               [nzTreeTemplate]="nzTreeTemplate"
               [nzSelectedKeys]="nzSelectedKeys"
               [nzExpandedIcon]="iconTpl"></nz-tree>
      <ng-template #iconTpl let-node let-origin="origin">
        <i *ngIf="node.key=='root'" nz-icon nzType="apartment"></i>
        <i *ngIf="node.key!='root'" nz-icon nzType="folder"></i>
      </ng-template>
      <ng-template #nzTreeTemplate let-node>
      <span class="node-custom">
        <!--
          <i nz-icon *ngIf="node.key!='root'" [nzType]="node.origin.data.icon" (click)="expendNode(node)"  ></i>
          -->
          <span class="node-title">{{ node.title }}</span>
      </span>
      </ng-template>
    </nz-card>
  </div>

  <div nz-col [nzSpan]="18">
    <nz-card class="card-organization-info" nzTitle="详情">
      <sv-container *ngIf="this.currentOrganization" labelWidth="150">
        <sv label="名称">{{this.currentOrganization.name}}</sv>
        <sv label="描述">{{this.currentOrganization.description}}</sv>
        <sv label="深度">{{this.currentOrganization.depth}}</sv>
      </sv-container>
    </nz-card>
  </div>
</div>
