<div class="modal-header">
  <div class="modal-title">公告</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<ng-container *ngIf="i">
  <div nz-row nzJustify="center">
    <h1>{{i.title}}</h1>
  </div>
  <div nz-row nzJustify="center">
    <span nz-typography nzType="secondary">发布时间：{{i.updateTime | date:'yyyy-MM-dd HH:mm'}}</span>
  </div>
  <div nz-row>
    <div [innerHTML]="i.body" class="ano-content"></div>
  </div>

</ng-container>

<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
